* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 15px;
}
.header_menu {
  background: black ;
  color: white ;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  z-index: 1;
}

.main_menu {
  display: flex;
  cursor: pointer;
}
.main_menu a {
  padding: 12px 24px;
  background: black ;
  color: white ;
  text-decoration: none !important;

}
.dropMenu {
  position: relative;
}

.subMenu {
  position: absolute;
  list-style: none;
  padding-left: 0;
  background: white;
  color: black;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  display: none;
  left: 0 ;
  bottom: 0;
  transform: translateY(100%);
  margin-bottom: 0;
}
.main_menu a:hover {
  color: black;
  background: #ccc;
}
.dropMenu:hover .subMenu {
  display: block;
}
.subMenu li:hover {
  background: #ccc;
}
.searching i {
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  height: 100%;
  float: right;
}
.searching i:hover {
  background: red;
}
.fa-bars.fas {
  display: none;
}
.mobile {
  display: none;
}
.slideAvatar {
  margin-top: 46px;
}
.mainavatar {
  position: relative;
}
.textGroup {
  position: absolute;
  color: white;
  bottom: 10%;
  left: 50%;
  width: 100%;
  color: white;
  text-align: center;
  transform: translateX(-50%);
}
.theBand {
  margin: 0 auto;
  padding: 64px 16px;
  max-width: 800px;
}
.titleBand {
  text-align: center;
  margin: 10px 0;
}
.subtitleBand {
  text-align: center;
  margin: 15px 0;
}
.textBand {
  text-align: justify;
  width: fit-content;
}
.imgBand {
  padding: 32px 0;
  display: flex;
}
.name {
  margin: 15px 0;
}
.mainImg {
  text-align: center;
  width: 33%;
}
.mainImg img {
  width: 60%;
  border-radius: 5px;
}
.titleTour,
.subtitleTour {
  color: white;
}
.monthTour {
  list-style: none;
  background: white;
  padding-left: 0;
}
.monthTour li {
  padding: 8px 16px;
  border: 1px solid #ddd;
}
.statusTour {
  background: #f44336;
  margin-left: 16px;
  padding: 0 8px;
  color: white;
  display: inline-block;
}
.numberThree {
  float: right !important;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 0 8px;
}
.imgCity {
  display: flex;
  margin: 0 -8px;
}
.imgCity .card {
  border: none;
  margin: 0 8px;
  border-radius: 0;
  width: 33.333%;
}
.card-body {
  padding: 0 16px !important;
}
.card-body p {
  margin: 15px 0;
}
.card-body .btn-primary {
  background-color: black;
  border: none;
  border-radius: 0;
  padding: 8px 16px;
  margin-bottom: 8px;
}
.card-body .btn-primary:hover {
  background: #ccc;
  color: black;
}
.titleContact {
  letter-spacing: 4px;
}
.addressBand {
  display: flex;
  padding: 32px 0;
}
.iconAddress {
  font-size: 18px;
  width: 49.9999%;
  margin-bottom: 12px;
}
.iconAddress i{
  width: 30px;

}

input {
  border: 1px solid #ccc !important;
  padding: 8px;
}
.inputOne {
  display: flex;
  margin-bottom: 8px !important;
  margin: 0 -8px;
}

.inputTwo input {
  width: 100%;
}
.padding08 {
  padding: 0 8px;
  width: 49.9999%;
}
.buttonContact {
  padding: 8px 16px;
  margin: 16px 0;
  float: right;
  border: 0;
  color: white;
  background: black;
}
.buttonContact:hover {
  background: #ccc;
  color: black;
}
.AvatarEnd img {
  width: 100%;
  filter: grayscale(50%);
}
.footerBand {
  padding: 64px 16px;
  opacity: 0.6;
  text-align: center;
}
.footerBand i {
  font-size: 24px;
}
.footerBand i:hover {
  opacity: 0.5;
}
.powered p {
  margin: 15px 0;
}
.footerlink{
  color: black;
}
@media screen and (max-width: 700px) {
  .PC {
    display: none;
  }
  .fa-search.fas {
    display: none;
  }
  .fa-bars.fas {
    display: block;
  }
  .imgBand {
    flex-direction: column;
  }
  .mainImg {
    width: 100%;
  }
  .imgCity {
    flex-direction: column;
    width: 100%;
    padding: 32px 0;
  }
  .imgCity .card {
    width: 100%;
    margin-bottom: 16px;
  }
  .addressBand{
      flex-direction: column;
  }
  .inputOne{
    flex-direction: column;
  }
  .padding08{
    width: 100%;

  }
  .padding08 input{
      width: 100%;
  }
  .iconAddress {
    width: 100%;
  }
}